<div class="container-fluid">
    <h2 class="text-center">Track Your Meal</h2>
    <hr>
    <div class="line-outline">
    <form (ngSubmit)='submitMeal()' #mealForm='ngForm' >
        <div class="form-group">
  
            <label for="meal">Meal</label>
            <input type="text" required class="form-control" [(ngModel)]="newMeal.meal" name="meal" #meal='ngModel' id="meal">
            <div [hidden]="meal.valid || meal.pristine" class="alert alert-danger">
                <p>Meal name is required</p>
            </div>
            
        </div>
        <div class="form-group">
  
            <label for="calorie">Calorie count</label>
            <input type="number" required class="form-control" [(ngModel)]="newMeal.calorie" name="calorie" #calorie='ngModel' id="calorie">
            <div [hidden]="calorie.valid || calorie.pristine" class="alert alert-danger">
                <p>Amount of calories is required</p>
              </div>
        </div>
        <div class="form-group">
            <label for="description">Details</label>
            <textarea class="form-control" id="description" rows="4" [(ngModel)]="newMeal.description" name="description" #description="ngModel" required></textarea>
            <div [hidden]="description.valid || description.pristine" class="alert alert-danger">
                <p>Description is required</p>
              </div>
        </div>
        <button type="submit" class="btn btn-success">Add Meal</button>
    </form>
    </div>
  </div>
